.error-page{
	.error-text {
		font-size: 150px;
		line-height: 1;
		color:$secondary;
		@include respond('phone') {
			font-size: 80px;
		}
	}
	h4{
		font-size: 40px;
		margin-bottom: 5px;
		color:$secondary;
		@include respond('phone') {
			font-size: 1.25rem;
		}
	}
	p{
		font-size: 1rem;
		@include respond('phone') {
			font-size: 0.875rem; ;
		}
	}
}